*{
    padding: 0%;
    margin: 0%;
}

html {
    scrollbar-width: normal;
    scrollbar-color: #0c0c0f;
  }
  
  html::-webkit-scrollbar {
    width: 1.2vh;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background-color: white;
    box-shadow: 0 0 10px white, 0 0 20px white, 10px 10px 40px white; 
  }
  
  html::-webkit-scrollbar-track {
    background-color: #1F2436;
  }

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    transition: .5s;
}

body{
    background-color: #181A20;
}

.backsvg{
    position: absolute;
    max-width: 100%;
    z-index: -1;
}

.header{
    background-color: #2D303B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(8px);
}

.logo{
    display: flex;
    align-items: center;
    height: 45%;
    padding: 1.5%;
}

.header__links{
    list-style: none;
}
  
.header__links li{
    display: inline-block;
    padding: 0px 65px;
    transition: .5s;
}

.header__links a:hover{
    transition: .5s;
    color: #5B7FFF;
}

.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 5% 10% 10% 10% 10% 10% 10% 15%;
    justify-content: center;
    height: 2500px;
}

.Main{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.DocketTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 15%;
    color: white;
    letter-spacing: 5px;
}

.abouttext{
    display: flex;
    width: 90%;
}

.About{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-weight: 500;
    margin-top: 10%;
    color: white;
}

.First{
    display: flex;
    justify-content: center;
    margin: auto;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.docket{
    height: 50%;
}

.Premain{
    justify-content: center;
    text-align: center;
    background-color: #2D313C;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.VantagensTitle{
    margin-top: 4%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
}

.Submain{
    display: grid;
    min-width: 100%;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: 40% 20% 40%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 9;
    border-radius: 50px;
    background-color: #2D313C;
    grid-template-areas: 
    "second third fourth"
    "planos planos planos"
    "cubo cubo cubo";
}

@media only screen and (max-width: 800px) {
    .Submain{
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 10% 30%;
        grid-template-areas: 
        "second"
        "third"
        "fourth"
        "planos"
        "cubo"
        "cubo"
        "cubo";
    }
}
.Second{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-area: second;
    height: 80%;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    background-color: #2D313C;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.ImagemV{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.SVantagens{
    margin: auto;
    height: 100%;
}

.TextV{
    text-align: center;
}

.VText{
    margin-top: 15%;
    font-weight: 600;
    color: #96979D;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.50rem, 1vw, 1rem);
}

.Vantagens{
    margin-top: 25%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.55rem, 1.55vw, 1.55rem);
}

.Third{
    grid-area: third;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    height: 80%;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    background-color: #2D313C;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.Fourth{
    grid-area: fourth;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    margin: auto;
    height: 80%;
    width: 70%;
    border-radius: 40px;
    background-color: #2D313C;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.PlanosTitle{
    grid-area: planos;
    text-align: center;
}

.PlanosV{
    margin-top: 5%;
    font-weight: 600;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 3vw, 3rem);
}

.PlanosDesc{
    margin-top: 2.5%;
    font-weight: 500;
    color: #96979D;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.65rem, 1.15vw, 1.15rem);
}

.cubo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-area: cubo;
}

.Fifth{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    margin: auto;
    height: 80%;
    width: 70%;
    border-radius: 40px;
    background-color: #2D313C;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.Sixth{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    margin: auto;
    height: 80%;
    width: 70%;
    border-radius: 40px;
    background-color: #5B7FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.Gratuito{
    text-align: center;
    margin-top: 10%;
    font-weight: 600;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 2.2vw, 2.2rem);
}

.GText{
    margin-top: 6%;
    text-align: center;
    line-height: 400%;
    font-weight: 600;
    color: #96979D;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.50rem, 1vw, 1rem);
}

.mes{
    text-align: center;
    margin-top: 10%;
    font-weight: 600;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 2.2vw, 2.2rem);
}

.PText{
    margin-top: 6%;
    text-align: center;
    line-height: 400%;
    font-weight: 600;
    color: #2D303B;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.50rem, 1vw, 1rem);
}

.Developed{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
}

.Beyondtm{
    margin-top: 6%;
    text-align: center;
    font-weight: 600;
    color: #8B8C8F;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.50rem, 1vw, 1rem);
}

.Footer {
    position: fixed;
    bottom: 0vw;
    left: 0vh;
    width: 100vw;
    height: 5.35vh;
    background-color: #1E1E1E;
    text-align: center;
    color: white;
    z-index: 1;
  }

.FooterText{
    margin-top: 0.75%;
    text-align: center;
    font-weight: 600;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.50rem, 1vw, 1rem);
}